@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("/assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-regular-webfont.woff") format("woff");

  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.d-none {
  display: none !important;
}

.sectionDesign {
  display: flex;
}

.sectionDesign {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: rgb(243, 142, 59);
  position: sticky;
  top: 0;
  z-index: 3;
}

.overallMenu {
  max-width: 1440px;
  padding: 20px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.cartIcon {
  display: none;
  height: 28px;
  cursor: pointer;
}

.overAllBasketIcon {
  display: flex;
  justify-content: center;
}

.numberInBasket {
  display: none;
  position: absolute;
  font-size: 12px;
  right: 21px;
  cursor: pointer;
}


.logo:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.contentWrapper {
  gap: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  width: calc(100% - 300px);
  padding: 16px 0 0 5px;
  margin-bottom: 16px;
}

.informationRestaurant {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 4px;
}

.logoRestaurant {
  display: flex;
  justify-content: center;
}

.imgLogo {
  height: 100px;
  width: 100px;
  top: 290px;
  border-radius: 6px;
  position: absolute;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.restaurantTitle {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 800;
}

.restaurantReview {
  padding-top: 8px;
  color: rgb(95, 94, 3);
}

.imgRestaurant img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

#linkMain {
  scroll-margin-top: 100px;
}
#linkAside {
  scroll-margin-top: 100px;
}
#linkDessert {
  scroll-margin-top: 100px;
}

.mainCategory {
  position: relative;
  margin-bottom: 5px;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCategory::before {
  content: "";
  background-image: url(/assets/img/Margherita.jpg);
  background-size: cover;
  object-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.asideCategory {
  position: relative;
  margin-bottom: 5px;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asideCategory::before {
  content: "";
  background-image: url(/assets/img/bruschetta.png);
  background-size: cover;
  object-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.dessertCategory {
  position: relative;
  margin-bottom: 5px;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dessertCategory::before {
  content: "";
  background-image: url(/assets/img/cheesecake.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.titleCategory {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-style: italic;
}

.sectionDesignFooter {
  background-color: beige;
}

.overallFooter {
  max-width: 1440px;
  margin: 0 auto;
}

.footerMenu {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 15px;
}

.impressumTitle {
  font-weight: 800;
}

.impressum {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialMedia img {
  height: 50px;
}

.overflowHidden {
  overflow-x: hidden;
}

.menu {
  display: none;
  position: absolute;
  right: 16px;
  width: 50px;
  top: 16px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.confirmationText {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  padding: 40px 0 48px 0;
}

.confirmationText2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}

.confirmationPic {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
}

.confirmationPic img {
  object-fit: cover;
  object-position: center;
  height: 500px;
}

@media screen and (max-width: 700px) {
  .cartIcon {
    display: block;
  }

  .numberInBasket {
    display: block;
  }

  .content {
    width: 100%;
    padding: 16px 5px;
  }

  .confirmationText {
    font-size: 24px;
  }
}
