@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("ttf"),
    url("fonts/DeineSchriftart.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.sectionDesign {
  display: flex;
}

.sectionDesign {
  max-width: 1440px;
  margin: 0 auto;
  border: 0;
}

header {
  background-color: rgb(243, 142, 59);
  position: sticky;
  top: 0;
  z-index: 1;
}

.overallMenu {
  max-width: 1440px;
  padding: 8px 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.cartIcon {
  display: none;
  height: 28px;
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.contentWrapper {
  gap: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  width: calc(100% - 300px);
  padding: 16px 0 0 5px;
  margin-bottom: 16px;
}

.backgroundRestaurant {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 4px;
}

.logoRestaurant {
  display: flex;
  justify-content: center;
}

.imgLogo {
  height: 100px;
  width: 100px;
  top: 270px;
  border-radius: 6px;
  position: absolute;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.restaurantTitle {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 800;
}

.restaurantReview {
  padding-top: 8px;
  color: rgb(95, 94, 3);
}

.imgRestaurant img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.mainCategory {
  position: relative;
  margin-bottom: 5px;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCategory::before {
  content: "";
  background-image: url(/assets/img/Margherita.jpg);
  background-size: cover;
  object-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.asideCategory {
  position: relative;
  margin-bottom: 5px;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asideCategory::before {
  content: "";
  background-image: url(/assets/img/bruschetta.png);
  background-size: cover;
  object-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.dessertCategory {
  position: relative;
  margin-bottom: 5px;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dessertCategory::before {
  content: "";
  background-image: url(/assets/img/cheesecake.jpg);
  background-size: cover;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.titleCategory {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-style: italic;
}

.sectionDesignFooter {
  background-color: beige;
}

.overallFooter {
  max-width: 1440px;
  margin: 0 auto;
}

.footerMenu {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 20px 15px;
}

.impressumTitle {
  font-weight: 800;
}

.impressum {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialMedia img {
  height: 50px;
}

.overflow-hidden {
  overflow-x: hidden;
}

.menu {
  display: none;
  position: absolute;
  right: 16px;
  width: 50px;
  top: 16px;
  cursor: pointer;
}


.overlay-menu {
  position: fixed; /* Fixed position, damit das Menü die gesamte Seite überlagert */
  right: 0;
  top: 0;
  width: 100vw; /* Volle Breite */
  height: 100vh; /* Volle Höhe */
  z-index: 2;
  display: flex;
  flex-direction: column;
  transform: translateX(100vw); /* Das Menü ist zunächst außerhalb des Bildschirms */
  color: black;
  background-color: rgb(243, 142, 59); /* Orange Hintergrundfarbe */
  transition: all 225ms ease-in-out;
}

.show-overlay-menu {
  transform: translateX(0); /* Menü wird sichtbar */
}

.close-button {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer; /* Zeigt den Mauszeiger als Zeiger */
}





@media screen and (max-width: 800px) {
  .cartIcon {
    display: block;
  }
  
  .content {
    width: 100%;
    padding: 20px 5px;
  }
}
