.testContent {
  padding: 0;
  font-size: 18px;
  height: 100px;
  width: 100%;
  background-color: aliceblue;
}

.listPlates {
  padding: 16px 0 8px 0;
  margin: 0;
  display: flex;
  gap: 4px;
  flex-direction: row;
  border-radius: 16px;
}


.listPlates li {
  padding: 4px 8px;
  background-color: #9FE280;
  border-radius: 16px;
  transition: 0.3s;
}

.listPlates li:hover {
    background-color: #04AA6D;
  }

.mainDishlist {
  display: flex;
  flex-direction: column;
}

.restaurantProducts {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  gap: 4px;
}

.product {
  background-color: beige;
  border-radius: 4px;
  padding: 4px 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.productName {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 16px;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
